<style>
  .page_wrap {
	text-align:center;
	font-size:0;
 }
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}
.page_nation .pprev {
	background:#f8f8f8 url('/img/page_pprev.png') no-repeat center center;
	margin-left:0;
}
.page_nation .prev {
	background:#f8f8f8 url('/img/page_prev.png') no-repeat center center;
	margin-right:7px;
}
.page_nation .next {
	background:#f8f8f8 url('/img/page_next.png') no-repeat center center;
	margin-left:7px;
}
.page_nation .nnext {
	background:#f8f8f8 url('/img/page_nnext.png') no-repeat center center;
	margin-right:0;
}
.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}

</style>
<%
function addComma(str)
{
  var inex 		= 0;
  var result		= "";
  var	input		= "";
  var	arrInput	= new Array();

  if (typeof(str) == "object")
  {
    input	= String(str.value);
  }
  else
  {
    input	= String(str);
  }

  if (isNaN(input) == true)
  {
    alert(alert8);

    return input;
  }

  arrInput = input.split(".");
  input	= String(arrInput[0]);
  index	= input.length;
  for (var i = 1; i <= index; i++)
  {
    result += input.substr(i - 1, 1);
    if (i != index && (index - i) % 3 == 0)
    {
      result += ",";
    }
  }

  if (arrInput.length == 2)
  {
    result	+= "." + arrInput[1];
  }

  if (typeof(str) == "object")
  {
    str.value	= result;
  }
  else
  {
    return	result;
  }
}
function calSize(size){
  return (size/3.3).toFixed(0);
}
function fix(num,i){
  return Number(num).toFixed(i);
}
%>

<div class="table-wrapper">
  <input type='hidden' name='sortColumn' id='sortColumn' value='<%= sortColumn %>'/>
  <input type='hidden' name='sortAlign' id='sortAlign' value='<%= sortAlign %>'/>

  <hr />

  <div style='float: left;width:50%;'>Total : <%=addComma(totCnt)%> </div>
  <div style='float: right;width:50%;    text-align: right;'>
   목록수 : 
  <select id = 'limit' style='width: 75px; height: 33px;'>
    <option value="10"  <% if(limit == 10){ %> selected<% }%> >10</option>
    <option value="100" <% if(limit == 100){ %> selected<% }%> >100</option>
    <option value="500" <% if(limit == 500){ %> selected<% }%> >500</option>
    <option value="1000"<% if(limit == 1000){ %> selected<% }%> >1000</option>
  </select>
  </div>
  <table style='margin-top: 100px;'>
    <thead>
      <tr class='table_basic'>
        <th onclick='setTable(1,"거래일");' >거래일</th>
        <th onclick='setTable(1,"법정동");'>주소</th>
        <th onclick='setTable(1,"아파트");'>아파트명(층)</th>
        <th onclick='setTable(1,"전용면적");' >전용면적</th>
        <th onclick='setTable(1,"거래금액");' >거래금액</th>
      </tr>
    </thead>
    <tbody id='tbody'>
      <% if(addrs == null || addrs.length == 0){ %>
        <tr>
          <td colspan=5> There is no data to show :( </td>
        </tr>
      <% } %>
      <% 
      var idx=0;
      addrs.forEach(function(addr) {
      %>
        <% var comma = addComma(addr.거래금액)%>
        <% var size = calSize(addr.전용면적)%>
        <% var sizeM2 = fix(addr.전용면적,2)%>
      <tr class='table_basic'>
        <td><%=addr.년%>.<%=addr.월%>.<%=addr.일%></td>
        <td><%=addr.법정동%></td>
        <td>
          <div style='float: left;margin: 0 0 -9px 0;'><%=addr.아파트%>(<%=addr.층%>F)
            <a id='myChart_<%=idx%>' onclick="mkChart('<%=addr.아파트%>','<%=addr.법정동%>','<%=idx%>')" class=" special icon fa-search" title="차트보기"></a>
          </div>
        </td>
        <td >
          <div style='float: right;margin: 0 0 -9px 0;'><%=sizeM2%> (<%=size%>P)</div>
        </td>
        <td 
          <% if(addr.거래금액 >1000000000 ){ %>
            style='color:#D63D30;'
          <% } if(addr.거래금액 >100000000 ){ %>
            style='color:#D69F35;'
          <% } else if(addr.거래금액 >10000000 ){ %>
            style='color:green;'
          <% }%>
          >
           <div style='float: right;margin: 0 0 -9px 0;'><%=comma%> ₩</div>
          </td>
      </tr>
      <tr class='table_small' >
        <td colspan='5' style='text-align: left !important;'>
          <span style='font-weight:700;'>거래일 : </span> <%=addr.년%>.<%=addr.월%>.<%=addr.일%><br>
          <span style='font-weight:700;'>아파트명 : </span> <%=addr.아파트%>(<%=addr.층%>F) -  <%=addr.법정동%>
          <a id='myChart_<%=idx%>' onclick="mkChart('<%=addr.아파트%>','<%=addr.법정동%>','<%=idx%>')" class=" special icon fa-search" title="차트보기"></a>
          <br>
          <span style='font-weight:700;'>전용면적 : </span> <%=sizeM2%> (<%=size%>P)<br>
            <span style='font-weight:700;'>거래금액 : </span>
          <span 
          <% if(addr.거래금액 >1000000000 ){ %>
            style='color:#D63D30;'
          <% } if(addr.거래금액 >100000000 ){ %>
            style='color:#D69F35;'
          <% } else if(addr.거래금액 >10000000 ){ %>
            style='color:green;'
          <% }%>
          > <%=comma%> ₩</span>
        </td>
      </tr>
      <tr class='myChart_tr' style='display: none;'>
        <td colspan='5'  >
          <div style='width:100%'>
            <a  onclick="sendDataEmail('<%=idx%>');">send E-Mail</a>
          </div>
          <div style='max-height: 500px;' >
            <canvas id='cnavas_<%=idx%>' class="myChart"  style='width:65vw; height:40vh;'></canvas>
          </div>
        </td>
      </tr>
      <%
        idx++;
      }) 
      %>
    </tbody>
    <tfoot>
      <!-- <tr>
        <td colspan="3"></td>
        <td>100.00</td>
      </tr> -->
    </tfoot>
  </table>
</div>



      <% 
        var offset = 2;
        var previousBtnEnabled = currentPage>1;
        var nextBtnEnabled = currentPage<maxPage;
      %>
    <!-- <ul class="pagination pagination-sm justify-content-center align-items-center h-100 mb-0">            
      <li class="page-item <%= previousBtnEnabled?'':'disabled' %>">
        <a class="page-link" href="/posts?page=<%= currentPage-1 %>&limit=<%= limit %>" <%= previousBtnEnabled?'':'tabindex=-1' %>>«</a>
      </li>
        <% for(i=1;i<=maxPage;i++){ %>
          <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
            <li class="page-item <%= currentPage==i?'active':'' %>"><a class="page-link" href="/posts?page=<%= i %>&limit=<%= limit %>"> <%= i %> </a></li>
          <% } else if(i==2 || i==maxPage-1){ %>
            <li><a class="page-link">...</a></li>
          <% } %>
        <% } %>
        <li class="page-item <%= nextBtnEnabled?'':'disabled' %>">
          <a class="page-link" href="/posts?page=<%= currentPage+1 %>&limit=<%= limit %>" <%= nextBtnEnabled?'':'tabindex=-1' %>>»</a>
        </li>
      </ul> -->
      <!-- <input type='hidden' id='limit' value='<%=limit%>'/> -->
      <% if(addrs != null && addrs.length > 0){ %>
      <div class="page_wrap">
        <div class="page_nation">
           <a class="arrow pprev <%= previousBtnEnabled?'':'disabled' %>" onclick='setTable(1);' <%= previousBtnEnabled?'':'tabindex=-1' %>></a>
           <a class="arrow prev" onclick='setTable("<%=(currentPage-10)<0?1:currentPage-10 %>");'></a>
           <% for(i=1;i<=(maxPage);i++){ %>
            <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
              <a style='width:auto;min-width: 30px;'class=" <%= currentPage==i?'active':'' %>" onclick='setTable("<%= i %>");'> <%= i %> </a>
            <% } else if(i==2 || i==maxPage-1){ %>
              <a class="">...</a>
              <!-- <a class=" <%= currentPage==i?'active':'' %>" onclick='setTable("<%= i %>");'> <%= i %> </a> -->
            <% } %>
          <% } %>

           <!-- <a href="#" class="active">1</a>
           <a href="#">2</a>
           <a href="#">3</a>
           <a href="#">4</a>
           <a href="#">5</a>
           <a href="#">6</a>
           <a href="#">7</a>
           <a href="#">8</a>
           <a href="#">9</a>
           <a href="#">10</a> -->
           <%if(currentPage+10 < maxPage){ %>
           <a class="arrow next" onclick='setTable("<%=currentPage+10 %>");'></a>
           <%}else{%>
            <a class="arrow next" onclick='setTable("<%=maxPage %>");'></a>
           <%}%>
           <a class="arrow nnext <%= nextBtnEnabled?'':'disabled' %>" onclick='setTable("<%=maxPage %>");' <%= nextBtnEnabled?'':'tabindex=-1' %>></a>
        </div>
     </div>
     <% } %>